<h2 class="text-center register">Thêm mới khách hàng</h2>

<div class="row content">
  <div class="container col-md-6 bg-warning">
    <form class="row g-3" [formGroup]="customerForm" (ngSubmit)="saveNewCustomer()">
      <div class="col-md-6" >
        <label >id: </label>
        <input type="text" formControlName="id">
        <p style="color: red" *ngIf="customerForm.controls.id.hasError('required') && customerForm.controls.id.dirty">
          Not blank!
        </p>
      </div>

      <div class="col-md-6" >
        <label>FirstName: </label>
        <input type="text" formControlName="firstName">
        <p style="color: red" *ngIf="customerForm.controls.firstName.hasError('required') && customerForm.controls.firstName.dirty">
          Not blank!
        </p>
      </div>
      <div class="col-md-6" >
        <label>LastName: </label>
        <input type="text" formControlName="lastName" >
        <p style="color: red" *ngIf="customerForm.controls.lastName.hasError('required') && customerForm.controls.lastName.dirty">
          Not blank!
        </p>
      </div>
      <div class="col-md-6" >
        <label >Date Of Birth:</label>
        <input type="date" formControlName="dateOfBirth">
        <p style="color: red" *ngIf="customerForm.controls.dateOfBirth.hasError('required') && customerForm.controls.dateOfBirth.dirty">
          Not blank!
        </p>
      </div>
      <div class="col-md-6" >
        <label >Gender: </label>
        <select formControlName="gender">
          <option [ngValue]="1" >Nam</option>
          <option [ngValue]="0" >Nu</option>
        </select>
        <p style="color: red" *ngIf="customerForm.controls.gender.hasError('required') && customerForm.controls.gender.dirty">
          Not blank!
        </p>
      </div>
      <div class="col-6" >
        <label >Phone: </label>
        <input type="text" formControlName="phone">
        <p style="color: red" *ngIf="customerForm.controls.phone.hasError('required') && customerForm.controls.phone.dirty">
          Not blank!
        </p>
      </div>
      <div class="col-6" >
        <label>Email</label>
        <input type="text" formControlName="email">
        <p style="color: red" *ngIf="customerForm.controls.email.hasError('required') && customerForm.controls.email.dirty">
          Not blank!
        </p>
      </div>
      <div class="col-6" >
        <label >Address: </label>
        <input type="text" placeholder="Danang" formControlName="address">
        <p style="color: red" *ngIf="customerForm.controls.address.hasError('required') && customerForm.controls.address.dirty">
          Not blank!
        </p>
      </div>
      <div class="col-6" >
        <label >Type Of Customer: </label>
        <select formControlName="typeOfCustomer">
          <option *ngFor="let toC of typeOfCustomerList" [ngValue]="toC" >{{toC.typeOfCustomer}}</option>
        </select>
        <p style="color: red" *ngIf="customerForm.controls.typeOfCustomer.hasError('required') && customerForm.controls.typeOfCustomer.touched">
          Not blank!
        </p>
      </div>
      <div class="col-12 text-center">
        <button type="submit" class="btn btn-secondary">Create</button>
        <button type="button" class="btn btn-light" data-bs-dismiss="modal">Close</button>
      </div>
    </form>
  </div>
</div>
