<h1>Caculator</h1>
<table>
  <tr>
    <td>
      <input type="number" id="nhapso1">
    </td>
    <td>
      <input type="number" id="nhapso2">
    </td>
  </tr>
  <tr>
    <td>
      <button type="button" onclick="addition()">Cộng</button>
      <button type="button" onclick="subtraction()">Trừ</button>
    </td>
    <td>
      <button type="button" onclick="multiplication()">Nhân</button>
      <button type="button" onclick="division()">Chia</button>
    </td>
  </tr>
</table>
<p>Kết quả: <span id="kq"></span></p>
